
    <nav class="navbar navbar-expand-lg navbar-light" >

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#player_navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          

            <h6>Výběr</h6>  
            <span class="navbar-toggler-icon"></span>
          

         
            
        </button>
        
        <div class="collapse navbar-collapse" id="player_navbar" >
          <div class="navbar-nav" style="font-size: 18px; ">
            
            <a id="nav_dospeli" class="nav-item nav-link px-5 "  href="/turnaje/dospeli">Dospělí</a>
            <a id="nav_dorost" class="nav-item nav-link px-5 "  href="/turnaje/dorost">Dorost</a>
<!--           
            <a id="nav_kariera" class="nav-item nav-link px-5" href="/player/{{ player.id }}/season">Sezóna</a>
             -->
            <a id="nav_starsi-zactvo" class="nav-item nav-link px-5 "  href="/turnaje/starsi-zactvo">Starší žactvo</a>
            <a id="nav_mladsi-zactvo" class="nav-item nav-link px-5 " href="/turnaje/mladsi-zactvo">Mladší žactvo</a>
            
            <a id="nav_babytenis" class="nav-item nav-link px-5 " href="/turnaje/babytenis">Babytenis</a>
            
            <a id="nav_minitenis" class="nav-item nav-link px-5 " href="/turnaje/minitenis">Minitenis</a>
<!--             
            <a id="nav_tournaments" class="nav-item nav-link px-5 "  href="/player/{{ player.id }}/tournaments">Turnaje</a> -->
          </div>
        </div>
      </nav>

